@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
 background-color: #1A0B2E;
color: #FFFFFF;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar Style */

.navbar{
max-width: 1600px;
   height: 100px;
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
   
}
.nav-item{
  list-style: none;
}

.navbar h3{
  font-size: 2.3rem;
  font-weight: 600;
}

.navbar ul{
  display: flex;
  gap: 40px;
}

ul li a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;

}

.btn{
  width: 135px;
  height: 44px;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
background-color: rgb(34, 0, 12);
}

.navbar>span{
  display: none;
}


/* Banner -section style */

.banner-section{
  max-width: 1600px;
  margin:20px  auto;
height: 760px;
  background-image: url(./assets/hero-bg.png);
}

.btn-secand{
 width: 201px; 
 height: 44px;
 border-radius: 20px;
 border: none;
 background-color: deeppink;
 margin-right: 10px;
}


.btn-praimary{
  font-size: 16px;
  font-weight: 500;
  color: #00FF88;
  background-color: #1A0B2E;
  width: 147px;
  height: 44px;
  border-radius: 20px;
  border: 1px solid #00FF88;
}
.banner-contend{
  margin-left: 620px;
padding-top: 60px;
width: 550px;
height: 558px;}

  .banner-images{
    position: relative;
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
  }
  .banner-images img{
 padding-bottom: 40px;
 position: absolute;
 margin-top: 60px;
 left: 110px;
  }
  .banner-button{
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    color: #1A0B2E;
    border: none;
    border-radius: 20px ;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 240px;
  }
  .pic-style{
    width: 550px;
  }
  .banner-text h1{
    font-size: 4rem;
    margin-top: 40px;
  }
  .banner-text p{
    font-size: 16px;
    
  }
  .banner-text{
    text-align: center;
    margin-right: 160px;
  }

/* podcast-section style */
.podcast-section{
  max-width: 1600px;
  height: 646px;
  margin: 0 auto;
}

.About-container{
  max-width: 1200px;
  margin: 0 auto;
}

.TechWave{
  text-align: center;
 
}
.TechWave h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.TechWave p{
  color: rgb(209, 204, 204);
  font-size: 16px;
  font-weight: 500px;
  
}
.margin-center{
  margin-top: 120px;
  margin-bottom: 120px;
  border: 1px solid rgba(128, 128, 128, 0.151);
}
.monthly-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.monthly-container h1{
  color: #00FF88;
  font-size: 48px;
}
.monthly-container p{
  font-size: 16px;
}

/* grid-section style */
















 






@media screen and (max-width:576px) {

  .navbar>ul {
  display: none;
}
.btn{
  display: none;
}
.navbar>span{
  display: inline;
  margin-right: 15px;
}

.margin-center{
  margin-top: 60px;
  margin-bottom: 60px;


}


.monthly-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
gap: 40px;
padding-left: 30px;
}
.monthly-container h1  {
  text-align: center;
  margin-bottom: 7px;
}

  
}